<% if @restaurants.any? %>
  <% @restaurants.each do |r| %>
    <%= link_to r.name, restaurant_path(r) %>
  <% end %>
<% else %>
  <p>No restaurants yet</p>
<% end %>
<%= link_to "Add a restaurant", new_restaurant_path %>
